.square{
    width: 9%;
    aspect-ratio: 1;
    background: purple;
    border-radius: 10px;
    margin: 5px;
}

.square-Fizz{
    width: 9%;
    aspect-ratio: 1;
    background: orange;
    border-radius: 10px;
    margin: 5px;
}

.square-Buzz{
    width: 9%;
    aspect-ratio: 1;
    background: blue;
    border-radius: 10px;
    margin: 5px;
}

.Fizz-Buzz{
    width: 9%;
    aspect-ratio: 1;
    background:magenta;
    border-radius: 10px;
    margin: 5px;
}

